<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://rollingstone.uol.com.br/media/_versions/attack-on-titan-anime-eren-mikasa-armin-levi-foto-reproducao_widelg.jpg" 
        alt=""
        >
    </div>
    <div  class="big-card__title">
        <h1><a href="#">Angular versão 17</a></h1>
    </div>
    <div  class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente id architecto voluptates. Ea nostrum facilis quae quisquam hic. Voluptas recusandae quibusdam a ab obcaecati, alias asperiores ipsam? Ratione, optio quibusdam.</a></p>
    </div>
</div>