.container__small-card {
    width: 500px;
    height: 150px;
}

.container__small-card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-card__photo {
    margin: 0 10px;
}

.small-card__photo > img {
    height: 130px;
    width: 200px;
}

.small-card__title > p > a {
    color: #a1a1a1;
}

a {
    text-decoration: none;
}