<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <img 
            src="https://static.wikia.nocookie.net/shingekinokyojin/images/3/3c/Eren_Jaeger_%28Anime%29_character_image_%28850%29.png" 
            alt=""
            >
        </div>
        <div  class="small-card__title">
            <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nulla asperiores amet, corporis eum veniam et qui officia.</a></p>
        </div>
    </div>

    <hr>
</div>