.container__menu-bar > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.container__menu-bar > ul > li {
    margin: 0 10px;
}

.container__menu-bar > ul > li > a {
    text-decoration: none;
}